.DS_Store
user_76/outputplatform/graph1.jpg
user_76/outputplatform/graph1.jpg
user_76/outputplatform/graph3.jpg
user_76/outputplatform/synthesictable.csv
user_76/outputplatform/wholedata.csv
user_76/outputplatform/graph2.jpg
